#content{
    background: white;
}
#main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}
#main > nav{
    padding: 5px;
    flex: 1;
    order: 1;
    background: #43ccff;
}
#main > article{
    margin: 4px;
    padding: 5px;
    flex: 6;
    order: 2;
}
